name: Toshi

on: [push]

jobs:
  win:
    env:
      PREMAKE_VERSION: 5.0.0-beta2

    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master
      with:
        submodules: recursive
    
    - name: Setup premake
      uses: abel0b/setup-premake@v2.3
      with:
        version: ${{ env.PREMAKE_VERSION }}

    - name: Premake
      run: premake5 vs2022 --arch=x86
    
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.1
    
    - name: Build the whole solution for debug
      run: msbuild './OpenBarnyard.sln' -property:Configuration=Debug
    
    - name: Publish Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Toshi Binaries
        path: bin

    - name: Update Auto Release
      uses: andelf/nightly-release@main
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: nightly
        name: 'OpenBarnyard Automatic Release $$'
        prerelease: true
        body: 'Automatic releases are being uploaded after any new commit.'
        files: |
          ./bin/Debug_Windows_x86/OpenBarnyard/OpenBarnyard.exe
